body {
    background-color: rgb(8, 7, 14);
    color: rgb(216, 216, 216);
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-bottom: 3px solid rgb(18, 16, 31);
    margin-bottom: 60px;
    padding: 0 5%;
    
}


.desc {
    display: flex;
}
.desc .desc-text {
    margin-left: 30px;
}

h1,h2 {
    border-width: 0px 0px 3px 0px;
    border-radius: 3px;
    border-color: rgb(18, 16, 31);
    border-style: solid;
}
h1 {
    margin-left: -5%;
}

@keyframes hov{
    /* from {transform: scale(1);} */
    to {transform: scale(1.03) rotateZ(-1deg);}
}

@keyframes unhov{
    from {transform: scale(1.03) rotateZ(-1deg);}
    to {transform: scale(1) rotateZ(0deg);}
}

img.recipe-preview {
    height: 300px;
    width: auto;
    margin: 1%;
    border-radius: 3%;
    animation: unhov 0.1s forwards ease-out;
    display: flex;
}


img.recipe-preview:hover {
    animation: hov 0.1s forwards ease-out;
}

.links {
    
}

/* .link-card {
    display: flex;
} */

.link-card a {
    text-decoration: none;
}


.links img {
    width: 150px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
}

p,li {
    margin-bottom: 10px;
}


a {
    color: rgb(216, 216, 216);
}