body {
    background-color: rgb(8, 7, 14);
    color: rgb(216, 216, 216);
    /* font-size: large; */
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-bottom: 3px solid rgb(18, 16, 31);
    margin-bottom: 60px;
    padding: 0 5%;
}
img {
    margin-left: 30px;
    border-radius: 3%;
}
h1,h2 {
    border-width: 0px 0px 3px 0px;
    border-radius: 3px;
    border-color: rgb(18, 16, 31);
    border-style: solid;
}

.content {
    margin: auto 4em;
}

/* h1 {
    margin: 1em;
} */
p{
    margin-left: 40px;
}

p,li {
    margin-bottom: 10px;
}


a {
    color: rgb(216, 216, 216);
}